// $light: #f8f9fa;
// $primary: #0d6efd;
// $success: #198754;
// $danger: #dc3545;

$primary_color: #328b20;
$secondary_color: #178bff;
$danger_color: #9e0000;
$gray_color: #999;
$bg_primary_color: #e1e1e1;
$bg_secondary_color: #f6f6f6;
$text_primary_color: #000;
$text_secondary_color: #535353;
