:export {
  primaryColor: $primary_color;
  secondaryColor: $secondary_color;
  dangerColor: $danger_color;
  bgPrimaryColor: $bg_primary_color;
  bgSecondaryColor: $bg_secondary_color;
  textPrimaryColor: $text_primary_color;
  textSecondaryColor: $text_secondary_color;
  bodyFontSize: 16px;
}
