.head {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 0.75rem;
}

.loadingMaskMessageBox {
  color: $primary;
  font-size: 1.25rem;
}
.errorMaskMessageBox {
  color: $danger;
  font-size: 1.25rem;
}
