.chartContainer {
  direction: ltr;
  margin: 2rem 0 1rem 1rem;
}
.control {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.averageOverview {
  .temperature {
    color: #dc3545;
  }
  .humidity {
    color: #8884d8;
  }

  @media screen and (max-width: 576px) {
    align-self: flex-start;
  }
}
.buttons {
  display: flex;
  gap: 0.5rem;
  @media screen and (max-width: 576px) {
    width: 100%;
    button {
      width: calc(50% - 0.5rem);
    }
  }
}
