.main {
  position: relative;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}
